#certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-image: url(/src/images/wave-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -1px;
}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 30%;
    padding: 20px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.dish hr {
    width: 100%;
    border-color: var(--color-primary-3);
}

.dish-description {
    text-align: center;
}
.dish-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dish-price button {
    font-size: medium;
}

@media screen and (max-width: 1920px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(25% - 12px);
    }
}

@media screen and (max-width: 1024px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}
@media screen and (min-width: 1105px) {
    .dish {
        width: 40%;
    }
    .dish-price button {
        /* font-size: x-small; */
    }
}

@media screen and (max-width: 768px) {
    .dish {
        width: 100%;
    }
    .dish-price button {
        font-size: small;
    }

    #certificate .section-subtitle {
        text-align: center;
    }
}
