footer {
    background-color: var(--color-neutral-0);
}

footer img {
    width: 100%;
    background-image: url(../images/wave-4.svg);
    background-size: cover;
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#footer_items p a {
    text-decoration: none;
    color: inherit;
}

#copyright {
    color: var(--color-neutral-5);
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}
