#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    /* color: var(--color-neutral-5); */
}

#cta .title span {
    color: var(--color-primary-7);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-5);
}

#phone_btn {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--color-neutral-0);
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_btn button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
}

.shape {
    background-color: var(--global-color-2);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    
    #home .title {
        font-size: 2.8rem;
    }

    #phone_btn {
        background-color: var(--color-primary-7);
    }
    #phone_btn:hover {
        background-color: var(--color-primary-7);
    }
    #phone_btn p {
        display: none;
    }
}

@media screen and (max-width: 1366px) {
    #banner img {
        height: 85%;
    }
}