#home {
    /* display: flex; */
    min-height: calc(100vh - 91px);
    /* position: relative; */
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
}

#cta {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 3.5rem;
    color: var(--color-neutral-0);
}

#cta .title span {
    color: var(--color-primary-3);
}

#cta .description {
    font-size: 2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
}

#banner img {
    height: 100%;
    width: fit-content;
}

@media screen and (max-width: 1920px) {
    #cta {
        width: 35%;
    }
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 1366px) {
    #banner img {
        height: 85%;
    }
}

@media screen and (max-width: 450px) {
    #home .title {
        font-size: 2.8rem;
    }

    #phone_btn {
        background-color: var(--color-primary-7);
    }
    #phone_btn:hover {
        background-color: var(--color-primary-7);
    }
    #phone_btn p {
        display: none;
    }
}
