@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(./header.css);
@import url(./home.css);
@import url(./services.css);
@import url(./certificate.css);
@import url(./testimonials.css);
@import url(./footer.css);

:root {
    --color-primary-0: #BA4DE3;
    --color-primary-1: #8A05BE;
    --color-primary-2: #530082;
    --color-primary-3: #530082;
    --color-primary-4: #f8d477;
    --color-primary-5: #ffe100;
    --color-primary-6: #ffcb45;
    --color-primary-7: #e9a209;

    --color-neutral-0: #ffffff;
    --color-neutral-1: #bfbfbf;
    --color-neutral-2: #777777;
    --color-neutral-3: #303030;
    --color-neutral-4: #202020;
    --color-neutral-5: #1d1d1d;
    --color-neutral-6: #191919;
    --color-neutral-7: #000000;

    --global-color-1: #cc191f;
    --global-color-2: #a42024;
    --global-color-3: #652b2b;
    --global-color-4: #5b1213;
}
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-neutral-0);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-7);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-default:hover {
    background-color: var(--color-primary-7);
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-5);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: var(--color-primary-7);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}
