@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(./header.css);
@import url(./home.css);
@import url(./certificate.css);
@import url(./footer.css);

:root {
    --color-primary-1: #d92a30;
    --color-primary-2: #cc191f;
    --color-primary-3: #a42024;
    --color-primary-4: #652b2b;
    --color-primary-5: #5b1213;

    --color-neutral-0: #ffffff;
    --color-neutral-1: #bfbfbf;
    --color-neutral-2: #777777;
    --color-neutral-3: #303030;
    --color-neutral-4: #202020;
    --color-neutral-5: #1d1d1d;
    --color-neutral-6: #191919;
    --color-neutral-7: #000000;
}
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    transition: all 1s ease;
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        to bottom,
        var(--color-primary-1) 0%,
        var(--color-primary-3) 100%
    );
    color: var(--color-neutral-0);
    border-radius: 10px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-default a {
    text-decoration: none;
    color: inherit;
}
.btn-default:hover {
    background: linear-gradient(
        to bottom,
        var(--color-primary-2) 0%,
        var(--color-primary-3) 100%
    );
}

.btn-secondary {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-neutral-0);
    border-radius: 12px;
    border: 1px solid var(--color-primary-3);
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary a {
    text-decoration: none;
    color: var(--color-neutral-4);
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-5);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: var(--color-neutral-5);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}

@media screen and (min-width: 501px) {
    .btn-lg {
        width: 18rem;
    }
}
